
@font-face {
  font-family: 'DBRamintraX';
  src: url('DBRamintraX.eot?#iefix') format('embedded-opentype'),  url('DBRamintraX.woff') format('woff'), url('DBRamintraX.ttf')  format('truetype'), url('DBRamintraX.svg#DBRamintraX') format('svg');
  font-weight: normal;
  font-style: normal;
}
