
@font-face {
	font-family: 'DBRamintraX';
	src: 	url('../fonts/DBRamintraX.eot?#iefix') format('embedded-opentype'),  
			url('../fonts/DBRamintraX.woff') format('woff'), 
			url('../fonts/DBRamintraX.ttf')  format('truetype'), 
			url('../fonts/DBRamintraX.svg#DBRamintraX') format('svg');
	font-weight: normal;
	font-style: normal;
}

.container-bg{ background: url(../../assets/images/bg.png) no-repeat top center;padding-top: 200px; background-size: 100%;}
@media (min-width : 768px) { 
	.container-bg{ padding-top: 480px; }
}

@media only screen and (min-width : 992px) {
	.container-bg{ padding-top: 560px; }
}

.panel-main{ position: relative; background-color: #E6E7E8; border-radius: 30px; padding: 5px; margin-bottom: 5rem;}
.panel-sub{ position: relative; background-color: #fff; border-radius: 30px; padding: 5px; }
.profile{ position: relative; }
.profile .circle-image{ position: absolute; top: -80px; left: 50%; }
.profile .circle-image .position-image{ position: relative; left: -50%;  }
.profile .circle-image .position-image img{ max-width: 150px; border: 1px solid #444; }
.profile .profile-desc{ margin-top: 10rem; }

.btn-green{ background-color: #008853; border-color: #008853; border-radius: 30px; padding: 10px 26px; }
.btn-red{background-color: #FF0000; border-color: #FF0000; font-size: 3rem; margin: 2rem 0; }
.line{ height: 5px; width: 90%; margin: 3rem auto; }
.line.line-green{ background-color: #008853; }

.text-main{ display: block; color: #008853; font-size: 5rem; font-family: DBRamintraX, 'sans-serif'; font-weight: bold;}
.text-sub{ display: block; color: #111; font-size: 1.5rem; }

.phone-number .number-circle{ 
	font-size: 7rem; font-family: DBRamintraX, 'sans-serif'; font-weight: bold; color: #008853; 
	line-height: 60px; display: inline-block; border: 1px solid #008853;  border-radius: 50%;
	width: 60px; height: 60px;
	margin: 0 .3rem;
}
.phone-number .markline{ 
	display: inline-block; font-size: 7rem; font-family: DBRamintraX, 'sans-serif'; 
	font-weight: bold; color: #008853;  
}

.font-dbr{
	font-family: DBRamintraX, 'sans-serif';
}